{% extends "slots/modal.html" %}
{% block 'body' %} 
<section class="row">
   <div class="col-md-6">
      {% include 'components/input.html' with label="Nome:" id="name" icon="file-text" required=True %}
   </div>
   <div class="col-md-6">
      {% include 'components/input.html' with label="Tipo:" id="group" icon="type" required=True %}
   </div>
   <div class="col-md-6">
      {% include 'components/input.html' with label="Nome director:" id="director" icon="user" required=True %}
   </div>      
   <div class="col-md-6">
      {% include 'components/input.html' with label="Localização:" id="location" icon="home" required=True %}
   </div>
   <div class="col-md-6 p-1">
      {% include 'components/htmx/select/province.html' with label="Província:" id="province" icon="map" required=False  %}
   </div>  
   <div class="col-md-6 p-1">
      {% include 'components/select/municipality.html' with label="Município:" id="municipality" icon="arrow-left" required=True  %}
   </div>
</section>
{% endblock %}