{% include 'components/th.html' with text='Nome' icon="file-text" %}
{% include 'components/th.html' with text='Bilhete' icon="file" %}
{% include 'components/th.html' with text='Email' icon="mail" %}
{% include 'components/th.html' with text='Nascimento' icon="calendar" %}
{% include 'components/th.html' with text='Gênero' icon="users" %}
{% include 'components/th.html' with text='Estado' icon="user" %}
{% include 'components/th.html' with text='Telefone' icon="phone" %}
{% include 'components/th.html' with text='Instituição' icon="image" %}