{% load static %}
<header>
  <section class="container">
    <div class="row">
      <div class="col-md-6 align-self-center">
        <div class=" h2 mt-2">Bem-vindo ao Portal de Alerta Epidemiológico</div>
        <p class="text-muted">Aqui, você encontra informações atualizadas sobre surtos de doenças, dicas de prevenção e medidas de controle. Mantenha-se informado e proteja sua saúde e a de sua comunidade.</p>
        <div class="d-grid gap-2 d-md-block">
          <a class="btn btn-outline-primary" href="{% url 'login' %}">
            <i class="fa-solid fa-right-to-bracket"></i>
            <span>Autenticação</span>
          </a>
          <a class="btn btn-outline-info" href="{% url 'register' %}">
            <i class="fa-solid fa-clipboard-list"></i>
            <span>Cadastramento</span>
          </a>
        </div>
      </div>
      <div class="col-md-6 position-relative banner-img">
        <img src="{% static 'img/virus-disinfectan.gif' %}" class="img-header" alt="Banner img"/>
      </div>
    </div>
  </section>
</header>
