<td>
  <a class="link-modal text-decoration-none text-primary link-group-plus" href="#" data-bs-toggle="modal" data-bs-target="#{{ target|default:'modalCrudAction' }}" data-action="{% url 'permission.group_plus' model %}" 
  hx-get="{% url 'group.plus' model %}" hx-trigger="click" hx-target="#group-body" hx-swap="innerHTML">
    <i data-feather="plus" aria-hidden="true"></i>
    <span>adicionar</span>
  </a>    
</td>
<td>
    <a class="link-modal text-decoration-none text-info link-group-list" href="#" 
      {% if counter > 0 %}  
        data-bs-toggle="modal" data-bs-target="#{{ target|default:'modalCrudAction' }}" data-action="{% url 'permission.group_list' model %}" 
        hx-get="{% url 'group.list' model %}" hx-trigger="click" hx-target="#group-body" hx-swap="innerHTML"
      {% endif %}
    >
      <i data-feather="list" aria-hidden="true"></i>
      <span>listar</span>
      <span class="badge bg-warning">{{ counter }}</span>
    </a>   
</td> 