    <div class="col-md-6 p-1">
       {% include 'components/input.html' with label="Nome completo:" icon="file-text" required=True %}
    </div>
    <div class="col-md-6 p-1">
       {% include 'components/input-email.html' with label="Email:" required=False %}
    </div>
    <div class="col-md-6 p-1">
       {% include 'components/input-date.html' with label="Nascimento:" required=True %}
    </div>
    <div class="col-md-6 p-1">
       {% include 'components/select.html' with label="Genêro:" icon="users" required=True %}
    </div>      
    <div class="col-md-6 p-1">
       {% include 'components/input.html' with label="Telefone:" icon="phone" required=True %}
    </div>
    {% if password %}
        <div class="col-md-6 p-1">
            {% include 'components/input.html' with label="Senha:" type="password" icon="lock" required=True %}
        </div>
        <div class="col-md-6 p-1">
            {% include 'components/input.html' with label="Confirma:" type="password" icon="lock" required=True %}
        </div>        
     {% endif %}