<a class="show-cat-btn" href="#">
    {% if type == "featcher" %}
        <i style="margin-right: 10px;" data-feather="{{ icon|default:'search' }}" aria-hidden="true"></i>
    {% else %}
        <span class="{{ icon|default:'icon home' }}" aria-hidden="true"></span>
    {% endif %}
    <span>{{ text|default:'Link' }} </span>
    <span class="category__btn transparent-btn" title="Open list">
        <span class="sr-only">Open list</span>
        <span class="icon arrow-down" aria-hidden="true"></span>
    </span>
</a>