{% extends "layouts/dashboard.html" %}

{% block 'thead' %}
    {% include 'components/th.html' with text='Nome' icon="file-text" %}
    {% include 'components/th.html' with text='Bilhete' icon="file" %}
    {% include 'components/th.html' with text='Email' icon="mail" %}
    {% include 'components/th.html' with text='Nascimento' icon="calendar" %}
    {% include 'components/th.html' with text='Gênero' icon="users" %}
    {% include 'components/th.html' with text='Estado' icon="user" %}
    {% include 'components/th.html' with text='Telefone' icon="phone" %}
{% endblock %}

{% block 'tbody' %}
    {% for doctor in data %}
        <tr>
            <td id="fullname-{{ forloop.counter0 }}">{{ doctor.person.fullname }}</td>
            <td id="identityCardNumber-{{ forloop.counter0 }}">{{ doctor.person.identityCardNumber }}</td>
            <td id="email-{{ forloop.counter0 }}">{{ doctor.person.user.email }}</td>
            <td id="birthday-{{ forloop.counter0 }}">{{ doctor.person.birthday|date:"Y-m-d" }}</td>
            <td id="gender-{{ forloop.counter0 }}" data-value="{{ doctor.person.gender }}">
                {{ doctor.person.gender }}
            </td>
            <td id="maritalStatus-{{ forloop.counter0 }}" data-value="{{ doctor.person.maritalStatus }}">
                {{ doctor.person.maritalStatus }}
            </td>            
            <td id="phone-{{ forloop.counter0 }}">{{ doctor.person.phone }}</td>
            {% include 'components/td-action.html' with data='doctor' data='doctor' index=forloop.counter0 model=doctor.id %}
        </tr>
    {% endfor %}
{% endblock %}

{% block 'modal' %}
    {% include 'components/modal/form/doctor.html' with title="Formulário" %}
{% endblock %}

{% block 'script' %}
    <script>
        const formChangeInputValues = (item) => {

            inputValueChange(item, 'identityCardNumber')
            inputValueChange(item, 'fullname')
            inputValueChange(item, 'birthday')
            inputValueChange(item, 'phone')
            inputValueChange(item, 'email')

            selectValueChange(item, 'maritalStatus')
            selectValueChange(item, 'gender')

        }
    </script>
{% endblock %}