{% extends "layouts/dashboard.html" %}
{% load static %}
{% block 'thead' %}
    {% include 'components/person/td-thead.html' %}
{% endblock %}

{% block 'tbody' %}
    {% for doctor in data %}
        <tr>
            {% include 'components/person/td-tody.html' with info=doctor index=forloop.counter0 %}
            {% include 'components/td-action.html' with data='doctor' data='doctor' index=forloop.counter0 model=doctor.id %}
        </tr>
    {% endfor %}
{% endblock %}

{% block 'modal' %}
    {% include 'components/modal/form/doctor.html' with title="Formulário" %}
{% endblock %}

{% block 'script' %}
    <script src="{% static 'js/person.js' %}"></script>
{% endblock %}