{% extends "layouts/dashboard.html" %}
{% load static %}
{% block 'thead' %}
    {% include 'components/person/td-thead.html' %}
{% endblock %}

{% block 'tbody' %}
    {% for laboratoryTechnician in data %}
        <tr>
            {% include 'components/person/td-tody.html' with info=laboratoryTechnician index=forloop.counter0 %}        
            {% include 'components/td-action.html' with data='laboratoryTechnician' data='laboratoryTechnician' index=forloop.counter0 model=laboratoryTechnician.id %}
        </tr>
    {% endfor %}
{% endblock %}

{% block 'modal' %}
    {% include 'components/modal/form/laboratory-technician.html' with title="Formulário" %}
{% endblock %}

{% block 'script' %}
    <script src="{% static 'js/person.js' %}"></script>
{% endblock %}