{% extends "layouts/dashboard.html" %}

{% block 'thead' %}
    {% include 'components/th.html' with text='Nome' icon="file-text" %}
    {% include 'components/th.html' with text='Pronvíncia' icon="map" %}
{% endblock %}

{% block 'tbody' %}
    {% for municipality in data %}
        <tr>
            <td id="name-{{ forloop.counter0 }}">{{ municipality.name }}</td>
            <td id="province-{{ forloop.counter0 }}" data-value="{{ municipality.province.id }}">
                {{ municipality.province.name }}
            </td>
            {% include 'components/td-action.html' with data='municipality' index=forloop.counter0 model=municipality.id%}
        </tr>
    {% endfor %}
{% endblock %}

{% block 'modal' %}
    {% include 'components/modal/form/municipality.html' with title="Formulário" %}
{% endblock %}

{% block 'script' %}
    <script>
        const formChangeInputValues = (item) => {
            inputValueChange(item, 'name')
            selectValueChange(item, 'province')
        }
    </script>
{% endblock %}