{% extends "layouts/dashboard.html" %}

{% block 'thead' %}
    {% include 'components/th.html' with text='Nome' icon="file-text" %}
{% endblock %}

{% block 'tbody' %}
 
{% endblock %}

{% block 'modal' %}
    {% include 'components/modal/form/notification.html' with title="Formulário" %}
{% endblock %}

{% block 'script' %}
    <script>
        const formChangeInputValues = (item) => {
            //inputValueChange(item, 'name')
        }

        const selectInstituion = document.querySelector('select#institution');

        selectInstituion.addEventListener('change', function(e) {
            htmx.ajax('GET', '{% url "institution.getby-patient" %}', { 
                target: '#patient',
                swap: 'innerHTML',
                values: { 'institution': this.value }
            });

            htmx.ajax('GET', '{% url "institution.getby-laboratoryTechnician" %}', { 
                target: '#laboratoryTechnician',
                swap: 'innerHTML',
                values: { 'institution': this.value }
            });
        });

    </script>
{% endblock %}