{% extends "layouts/dashboard.html" %}
{% load static %}
{% block 'thead' %}
    {% include 'components/person/td-thead.html' %}
{% endblock %}

{% block 'tbody' %}
    {% for patient in data %}
        <tr>
            {% include 'components/person/td-tody.html' with info=patient index=forloop.counter0 %}          
            {% include 'components/td-action.html' with data='patient' data='patient' index=forloop.counter0 model=patient.id %}
        </tr>
    {% endfor %}
{% endblock %}

{% block 'modal' %}
    {% include 'components/modal/form/patient.html' with title="Formulário" %}
{% endblock %}

{% block 'script' %}
    <script src="{% static 'js/person.js' %}"></script>
{% endblock %}