{% extends "layouts/dashboard.html" %}

{% block 'thead' %}
    {% include 'components/th.html' with text='Nome' icon="file-text" %}
    {% include 'components/th.html' with text='Código' icon="file" %}
    {% include 'components/th.html' with text='Descrição' icon="message-circle" %}
{% endblock %}

{% block 'tbody' %}
    {% for role in data %}
        <tr>
            <td>{{ role.name }}</td>
            <td>{{ role.code }}</td>
            <td>{{ role.description }}</td>
            {% include 'components/td-action.html' with data='role' %}
        </tr>
    {% endfor %}
{% endblock %}

{% block 'modal' %}
    {% include 'components/modal/form/role.html' with title="Formulário" %}
{% endblock %}