{% extends "layouts/app.html" %}
{% load static %}
{% block link %}
  <link href="{% static 'css/page/login.css' %}" rel="stylesheet"/>
{% endblock %}
{% block body %}
<!-- Section: Design Block -->
<section style="background-color: hsl(0, 0%, 96%); min-height: 45rem;">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" >
        <a class="text-dark h-5 text-decoration-none" href="{% url 'home' %}" >
            <span>Página inicial</span>
        </a>
      <div class="container">
        <div class="row gx-lg-5 align-items-center">

          <div class="col-lg-6 mb-5 mb-lg-0">
            <h1 class="my-5 display-3 fw-bold ls-tight">
              Alerta epidemiologia <br />
              <span class="text-primary">reporta casos</span>
            </h1>
            <p style="color: hsl(217, 10%, 50.8%)">
              Se tens o conhecimento de pessoas que estão com doenças contagiosas, ou 
              com surtos, podes nos informar para ajudar a situação desssas pessoas, para
              que elas melhoram e deixam de ser um perigo para a saúde pública.
            </p>
          </div>
  
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card">
              <div class="card-body py-5 px-md-5">
                <form>
                  <!-- 2 column grid layout with text inputs for the first and last names -->
                  <div class="row">
  
                  <!-- Email input -->
                  <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="form3Example3">Email</label>
                    <input type="email" id="form3Example3" class="form-control" />
                  </div>
  
                  <!-- Password input -->
                  <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="form3Example4">Senha</label>
                    <input type="password" id="form3Example4" class="form-control" />
                  </div>
  
                  <!-- Checkbox -->
  
                  <!-- Submit button -->
                  <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">
                    Login
                  </button>
  
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->
{% endblock %}