<nav class="navbar navbar-expand-lg border-bottom border-body border-primary" >
    <div class="container-fluid p-2">
      <a class="navbar-brand" href="#">
        <i class="fa-solid fa-bell"></i>
        <span>AlertEPI</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">
            <i class="fa-solid fa-house"></i>
            <span>Página inicial</span>
          </a>
          <a class="nav-link" href="#">
            <i class="fa-solid fa-bell-concierge"></i>
            <span>Serviços</span>            
          </a>
          <a class="nav-link" href="#">
            <i class="fa-solid fa-circle-info"></i>
            <span>Ajuda</span>
          </a>
        </div>
      </div>
    </div>
</nav>