<section class="section-cards bg-primary-suave p-4">
  <div class="container">
    <div class="row justify-content-center m-auto">
      <div class="col-md-3 p-1">
        {% include 'components/card.html' with title='Cuidado' icon="fa-solid fa-house-medical-circle-exclamation" text='Os alertas epidemiológicos informam sobre surtos de doenças infecciosas. Fique atento a essas notificações para prevenir a disseminação de doenças e proteger a saúde pública.' %}
      </div>
      <div class="col-md-3 p-1">
        {% include 'components/card.html' with title='Prevenção' icon="fa-solid fa-pump-medical" text='Siga as orientações dos alertas: lave as mãos, use máscaras e mantenha a vacinação em dia. Essas medidas ajudam a evitar a propagação de infecções, cuida da sua sáude.' %}
      </div>
      <div class="col-md-3 p-1">
        {% include 'components/card.html' with title='Informação' icon="fa-solid fa-laptop-medical" text='Consulte fontes oficiais para obter dados atualizados sobre surtos e recomendações. Informações precisas são essenciais para evitar pânico e desinformação.' %}
      </div>
      <div class="col-md-3 p-1">
        {% include 'components/card.html' with title='Colaboração' icon="fa-solid fa-hand-holding-medical" text='Colabore com as autoridades de saúde e siga as recomendações. Compartilhe informações corretas com a comunidade para ajudar a controlar surtos e proteger a todos.' %}
      </div>
    </div>
  </div>
</section>
