<section class="feature_part padding_top">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5 align-self-center">
                    <h2>Provide Special  Services</h2>
                    <p class="text-muted">Third beast two she'd multiply they're form he above do Replenish days said
                        set doesn't can't subdue air herb lesser dominion saying fruitful given
                        fifth winged Third beast two she'd multiply they're form he above their
                        Replenish days said set doesn can'which.</p>
                    <a href="#" class="btn btn-sm btn-outline-primary">More service</a>
            </div>
            <div class="col-md-7">
                <div class="row">
                        <div class="col-md-6 p-1">
                            {% include "components/card.html" with title="Better Future" text="Darkness multiply rule Which from without life creature blessed give moveth moveth seas make day which divided our have" %}
                        </div>
                        <div class="col-md-6 p-1">
                            {% include "components/card.html" with title="Better Future" text="Darkness multiply rule Which from without life creature blessed give moveth moveth seas make day which divided our have" %}
                        </div>
                        <div class="col-md-6 p-1">
                            {% include "components/card.html" with title="Better Future" text="Darkness multiply rule Which from without life creature blessed give moveth moveth seas make day which divided our have" %}
                        </div>
                        <div class="col-md-6 p-1">
                            {% include "components/card.html" with title="Better Future" text="Darkness multiply rule Which from without life creature blessed give moveth moveth seas make day which divided our have" %}
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>